.login_box {
    background: url(../images/login.jpg) no-repeat;
    height: 370px;
    width: 960px;
    position: relative
}

.login_box .login_from {
    width: 288px;
    background: #FFF;
    border: 1px solid #d1d1d1;
    position: absolute;
    right: 60px;
    top: 0
}

.login_box .login_from .tabs {
    height: 35px;
    background: url(../images/bg_login.png) repeat-x 0 -77px;
    margin-bottom: 50px
}

.login_box .login_from .tabs a {
    float: left;
    height: 35px;
    color: #333;
    font-weight: normal;
    width: 143px;
    line-height: 35px;
    text-align: center;
    font-size: 14px
}

.login_box .login_from .tabs .hover {
    background: #FFF;
    font-weight: bold
}

.login_box .login_from .tabs .line {
    border-left: 1px solid #d1d1d1
}

.login_box .login_input {
    padding-left: 30px
}

.login_box .login_input .login-input {
    border: 1px solid #b1b1b1;
    height: 24px;
    width: 170px;
    padding: 0 0 0 3px;
    vertical-align: middle
}

.login_box .login_input label {
    color: #666;
    height: 26px;
    line-height: 26px;
    float: left;
    vertical-align: middle;
    font-size: 14px;
    font-family: "宋体"
}

.login_box .login_input .rm {
    padding-left: 56px
}

.login_box .login_input .rm input {
    margin-right: 3px
}

.login_box .login_btn {
    padding-left: 54px;
    margin-bottom: 50px
}

.login_box .login_btn .sub {
    border: 0;
    background: url(../images/bg_login.png) no-repeat;
    width: 80px;
    height: 25px;
    color: #FFF;
    font-weight: bold
}

.login_box .login_bot {
    background: url(../images/bg_login.png) repeat-x 0 -27px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666;
    border-top: 1px solid #e8e8e8
}

.reg_box {
    min-height: 400px;
    height: auto!important;
    height: 400px;
    overflow: visible;
    padding-bottom: 30px
}

.reg_box .rtitle {
    height: 34px
}

.reg_box .rtitle .tith {
    float: left;
    color: #333;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    font-family: "微软雅黑"
}

.reg_box .rtitle .tith.blue {
    color: #007fc0
}

.reg_box .rtitle .tith.orange {
    color: #333
}

.reg_box .rtitle .tith.w100 {
    width: 100px;
    text-align: right
}

.reg_box .regcont {
    padding: 20px 20px 0 20px
}

.reg_box .regcont.login_pad {
    padding: 40px 20px 0 40px
}

.reg_box .reg_btn {
    color: #666;
    text-align: center
}

.reg_box .reg_btn2 {
    padding-left: 130px
}

.reg_box .reg_btn3 {
    padding-left: 260px
}

.reg_box .reg_btn4 {
    padding-left: 300px
}

.reg_box .reg_btn5 {
    padding-left: 70px
}

.reg_box .reg_btn5 a.gt {
    margin-left: 15px;
    text-decoration: underline;
    margin-top: 12px
}

.reg_box .agreement {
    font-size: 14px;
    color: #666;
    line-height: 26px
}

.reg_form .reg_ul li {
    margin-bottom: 15px
}

.reg_form .reg_ul li.form_li_box {
    padding-right: 315px
}

.reg_form .reg_ul li .n_name {
    font-weight: normal;
    height: 20px;
    line-height: 20px;
    font-size: 14px
}

.reg_form .reg_ul li .n_name input {
    vertical-align: middle;
    margin-right: 5px
}

.reg_form .reg_ul li.m_nbsp {
    padding-left: 70px
}

.reg_form .login-input,.reg_form .login-input2,.reg_form .login-input3,.reg_form .login-input4,.reg_form .login-input5,.reg_form .login-input6 {
    border: 1px solid #d5d5d5;
    height: 32px;
    width: 230px;
    padding: 0 0 0 5px;
    vertical-align: middle;
    line-height: 32px;
    color: #666;
    font-size: 14px
}

.reg_form .login-input2 {
    width: 95px
}

.reg_form .login-input3 {
    width: 280px
}

.reg_form .login-input4 {
    width: 500px
}

.reg_form .login-input5 {
    width: 605px
}

.reg_form .login-input6 {
    width: 170px
}

.reg_form .textarea_sy1 {
    width: 495px;
    height: 150px;
    padding: 5px;
    border: 1px solid #d5d5d5;
    vertical-align: middle
}

.reg_form .textarea_sy2 {
    width: 600px;
    height: 150px;
    padding: 5px;
    border: 1px solid #d5d5d5;
    vertical-align: middle
}

.reg_form .textarea_sy3 {
    width: 500px;
    height: 60px;
    padding: 5px;
    border: 1px solid #d5d5d5;
    vertical-align: middle;
    background: url(../images/bg_input_text.png) no-repeat
}

.reg_form .reg_ul label {
    color: #333;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    font-size: 12px;
    font-family: "宋体";
    float: left;
    width: 130px;
    text-align: right
}

.reg_form .reg_ul label.w1 {
    width: 70px;
    text-align: right
}

.reg_form .reg_ul label.w2 {
    width: 70px;
    text-align: left
}

.reg_form .reg_ul .tips_yes,.reg_form .reg_ul .tips_no {
    color: #666;
    background: url(../images/icon_all.png) no-repeat -670px -79px;
    padding-left: 20px;
    display: table-cell;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    margin: 8px 0 0 10px
}

.reg_form .reg_ul .tips_no {
    color: #666;
    background: url(../images/icon_all.png) no-repeat -669px -199px
}

.reg_form .reg_ul .tm {
    padding-top: 5px;
    font-size: 14px
}

.reg_form .reg_ul .nr {
    float: left;
    width: 580px;
    line-height: 34px
}

.reg_form .reg_ul select {
    width: 100px
}

.reg_form .reg_ul .yd {
    padding-left: 130px
}

.reg_form .reg_ul .yd2 {
    padding-left: 70px
}

.manage_password .reg_form {
    padding: 15px 0 0 15px
}

.manage_password .reg_form .reg_btn {
    padding: 0 0 0 76px
}

.reg_form .stitle {
    font-size: 14px;
    font-weight: bold
}

.reg_form .sub {
    height: 33px;
    width: 50px
}

.reg_box .fr_dl {
    padding: 10px 0 15px 40px;
    border-left: 1px dashed #ccc;
    margin-top: 60px;
    font-family: "宋体"
}

.reg_box .fr_dl .mc {
    width: 80px;
    text-align: right;
    vertical-align: middle
}

.reg_box .fr_dl .fr_title {
    font-weight: bold;
    font-size: 14px
}

.reg_box .fr_dl li {
    line-height: 26px;
    padding-left: 15px;
    background: url(../images/icon/d2.png) no-repeat 0 center;
    color: #666
}

.reg_form .step_bt {
    font-size: 14px;
    font-weight: bold;
    color: #f60;
    margin-bottom: 15px
}

.reg_form .sw {
    width: 330px;
    float: left
}

.reg_form .s1 {
    float: left;
    width: 100px;
    text-align: right
}

.reg_form .reg_ul2 li {
    margin-bottom: 15px;
    line-height: 32px
}

.reg_form .reg_ul2 li.mapbox {
    padding-left: 30px
}

.reg_form .reg_ul2 .map2 {
    width: 705px;
    height: 335px;
    border: 2px solid #ccc;
    overflow: hidden
}

.step_box {
    padding-left: 100px
}

.step_box .step_bt {
    font-size: 14px;
    font-weight: bold;
    color: #f60;
    margin-bottom: 15px
}

.step_box .step_nr {
    line-height: 21px;
    color: #666
}

.step_box2 {
    padding-left: 300px;
    background: url(../images/icon/yes.png) no-repeat 170px 15px;
    min-height: 120px;
    height: auto!important;
    height: 120px;
    overflow: visible
}

.step_box2 .step_bt {
    font-size: 14px;
    font-weight: bold;
    color: #f60;
    margin-bottom: 15px
}

.step_box2 .step_nr {
    line-height: 21px;
    color: #666
}

.tips_box {
    height: 100px;
    padding-left: 100px;
    padding-top: 50px;
    line-height: 26px;
    font-size: 14px
}

.tips_box strong {
    color: #333
}

.tips_box strong.orange {
    color: #f60
}

.tips_box .fw a {
    margin-right: 10px;
    text-decoration: underline
}

.tips_sy1 {
    background: url(../images/icon/big_i1.png) no-repeat 0 4px;
    padding-left: 120px;
    height: 85px;
    padding-top: 15px
}

.flow-steps {
    overflow: hidden;
    margin: 20px 0
}

.flow-steps .num4 li {
    width: 300px
}

.flow-steps li {
    float: left;
    background: #e4e4e4 url(../images/flow_steps_bg.png) no-repeat 100% 0;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    line-height: 23px;
    text-align: center;
    color: #404040;
    padding: 0 15px 0 0;
    overflow: hidden
}

.flow-steps li span,.flow-steps li strong {
    display: block
}

.flow-steps li .first {
    background: #e4e4e4 url(../images/flow_steps_bg.png) no-repeat -12px -69px
}

.flow-steps li.last {
    background-position: 100% -138px
}

.flow-steps li.current {
    background-color: #f86047;
    color: #fff
}

.flow-steps li.current .first {
    background-color: #f60;
    background-position: -12px -92px
}

.flow-steps li.current-prev {
    background-position: 100% -23px!important
}

.flow-steps li.done {
    background-color: #ffe6ba;
    background-position: 100% -46px;
    color: #f60
}

.flow-steps li.done .first {
    background-color: #ffe6ba;
    background-position: -12px -115px
}

.flow-steps li.last-current {
    background-color: #f86047;
    color: #fff;
    background-position: 100% -161px
}

#cart {
    width: 670px
}

.order_cont .order_title {
    font-size: 14px;
    color: #333
}

.order_cont .g_order {
    padding-left: 100px
}

.order-table {
    width: 100%
}

.order-table .itempic {
    float: left;
    border: 1px solid #eee;
    margin-right: 10px
}

.order-table thead th {
    border-bottom: 2px solid #cbc9c9;
    line-height: 30px;
    color: #333
}

.order-table .uncod td {
    padding: 15px 5px 15px 10px;
    border-right: 1px solid #FFF
}

.order-table .border_line td {
    border-bottom: 1px solid #cbc9c9
}

.order-table .uncod {
    background: #f5f5f5
}

.order-table .s-chk {
    width: 400px
}

.order-table .s-price {
    width: 100px;
    text-align: center
}

.order-table .s-amount {
    width: 100px;
    text-align: center
}

.order-table .s-total {
    width: 100px;
    text-align: center
}

.order-table .s-del {
    text-align: center
}

.order-table .pice_js td {
    border-top: 2px solid #cbc9c9;
    height: 30px;
    text-align: right
}

.elem_form {
    color: #333
}

.elem_form .label_like {
    float: left;
    vertical-align: middle;
    width: 80px;
    text-align: left;
    margin-right: 10px;
    font-family: "宋体";
    font-size: 14px;
    height: 32px;
    line-height: 32px
}

.elem_form li {
    margin: 10px 0;
    line-height: 32px
}

.elem_form .input_1,.elem_form .input_2 {
    height: 26px;
    padding: 2px 4px;
    width: 200px;
    border: 1px solid #d6d6d6;
    line-height: 26px;
    vertical-align: middle
}

.elem_form .input_2 {
    width: 400px
}

.elem_form .shr-other {
    padding-left: 90px
}

.elem_form li.ef_border_b {
    border-bottom: 1px solid #bfd8ee;
    padding: 0 0 12px 0
}

.elem_form li.container_btn {
    padding: 0 0 0 90px
}

.elem_form .input_btn {
    width: 50px;
    height: 26px
}

.text_a_1 {
    border: 1px solid #a0a0a0;
    width: 660px;
    height: 80px;
    padding: 5px;
    background: url(../images/bg_input_text.png) no-repeat
}

.text_a_2 {
    border: 1px solid #a0a0a0;
    width: 310px;
    height: 40px;
    padding: 5px;
    background: url(../images/bg_input_text.png) no-repeat
}

.text_a_3 {
    border: 1px solid #a0a0a0;
    width: 330px;
    height: 50px;
    padding: 5px;
    background: url(../images/bg_input_text.png) no-repeat
}

.tips_ts {
    background: url(../images/icon_all.png) no-repeat -670px -40px;
    padding-left: 24px;
    color: #666
}

.tips-other {
    width: 480px;
    padding: 0 8px
}

.tips-other p.icon {
    height: 18px;
    line-height: 21px;
    color: #333
}

.tips-other p strong {
    width: 60px;
    font-size: 14px;
    font-family: "宋体";
    text-align: right;
    font-weight: normal
}

.tips-other input.input_2 {
    width: 180px;
    height: 24px;
    padding: 0 2px;
    border: 1px solid #7f9db9
}

.tips-other p {
    margin-bottom: 10px
}

.tips-other p.pl {
    padding-left: 20px;
    color: #666
}

.user_menu {
    border: 1px solid #cbcbcb;
    border-top: 0
}

.back_index {
    height: 29px;
    border: 1px solid #f96628;
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #FFF
}

.back_index:hover {
    text-decoration: none;
    color: #FFF
}

.back_index span {
    border: 1px solid #fda14b;
    height: 27px;
    display: block;
    background: url(../images/user_menu.png);
    line-height: 27px;
    cursor: pointer
}

.back_index em {
    display: block;
    width: 27px;
    height: 27px;
    line-height: 1px;
    font-size: 1px;
    background: url(../images/user_icon.gif) no-repeat 7px 6px;
    float: left
}

.user_menu .tit-h {
    height: 29px;
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    color: #333;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    background: url(../images/user_menu.png) 0 -30px
}

.user_menu .tit-h em {
    display: block;
    width: 29px;
    height: 29px;
    line-height: 1px;
    font-size: 1px;
    background: url(../images/user_icon.gif) no-repeat 10px -34px;
    float: left
}

.user_menu .m_box {
    padding: 10px;
    background: #FFF
}

.user_menu .m_list li {
    height: 26px;
    line-height: 26px;
    font-size: 14px
}

.user_menu .m_list li a {
    padding: 0 0 0 20px;
    color: #333
}

.user_menu .m_list li a:hover,.user_menu .m_list li.hover a {
    color: #F60
}

.menu_manage .hover {
    color: #F60;
    font-weight: bold
}

.cui-box6 .title {
    height: 35px;
    line-height: 35px;
    background: url(../images/bg_title.gif) repeat-x 0 -45px;
    border: 1px solid #e0e0e0;
    border-top: 1px solid #ed6e0f;
    position: relative
}

.cui-box6 .tith {
    color: #333;
    font-weight: bold;
    padding-left: 10px;
    font-size: 14px
}

.cui-box6 .cbox {
    background: #FFF;
    border: 1px solid #e0e0e0;
    border-top: 0
}

.user_manage_index {
    padding: 18px
}

.user_info_index {
    width: 475px;
    border-right: 1px dashed #dedede;
    padding-right: 20px;
    margin-right: 20px
}

.user_info_index dt {
    width: 124px;
    float: left;
    margin-right: 15px
}

.user_info_index dt li {
    float: left;
    width: 62px;
    line-height: 21px;
    text-align: center
}

.user_info_index dt .img_h {
    border: 2px solid #ddd;
    padding: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 5px
}

.user_info_index dt .img_h img {
    height: 100px
}

.user_info_index dd {
    float: left;
    width: 336px
}

.user_info_index dd li {
    line-height: 29px
}

.user_info_index dd li .bt {
    font-weight: normal;
    font-family: "宋体"
}

.tg_link .sr {
    border: 1px solid #d6d6d6;
    width: 238px;
    height: 25px;
    padding: 0 5px;
    float: left
}

.tg_link .btn {
    width: 65px;
    height: 27px;
    cursor: pointer;
    float: left
}

.wz_box .bt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px
}

.user_manage_index2 {
    padding: 18px
}

.user_manage_index2 .wz_box {
    width: 340px
}

.user_manage_index2 .wz_box.fl {
    border-right: 1px dashed #dedede;
    padding-right: 20px;
    margin-right: 20px
}

.u_lminfo .u_links {
    color: #333;
    line-height: 26px
}

.u_lminfo .u_links li {
    float: left;
    width: 170px;
    height: 30px;
    font-family: "宋体"
}

.u_lminfo .bt {
    font-weight: bold;
    margin-bottom: 5px
}

.u_lminfo .pice {
    color: #bf0000
}

.u_lminfo .u_single {
    color: #333;
    line-height: 21px;
    height: 64px
}

.u_lminfo .sm {
    font-family: "宋体";
    line-height: 21px
}

.user_table_sy1 th,.user_table_sy1 td {
    border: 1px solid #ccc;
    height: 26px;
    text-align: center;
    padding: 0 5px;
    font-weight: normal
}

.user_table_sy1 th {
    background: #e7e7e7
}

.user_table_sy2 {
    width: 100%
}

.user_table_sy2 th,.user_table_sy2 td {
    height: 26px;
    text-align: center;
    padding: 3px 5px;
    font-weight: normal
}

.user_table_sy2 th {
    background: #f5f5f5;
    border-top: 1px solid #e0e0e0
}

.user_table_sy2 td {
    border-bottom: 1px dashed #d7d7d7
}

.user_table_sy2 th.tl {
    text-align: left
}

.user_table_sy2 td.tl {
    text-align: left
}

.user_table_sy2 td span.zt1 {
    background: url(../images/icon_all.png) no-repeat -670px -436px;
    padding-left: 20px;
    float: left;
    height: 20px;
    line-height: 20px
}

.user_table_sy2 td span.zt2 {
    background: url(../images/icon_all.png) no-repeat -670px -478px;
    padding-left: 20px;
    float: left;
    height: 20px;
    line-height: 20px
}

.user_table_sy3 {
    width: 100%
}

.user_table_sy3 th,.user_table_sy3 td {
    text-align: left;
    padding: 10px;
    font-weight: normal
}

.user_table_sy3 th {
    background: #f5f5f5;
    border-top: 1px solid #e0e0e0;
    text-align: center;
    font-weight: bold;
    padding: 0;
    height: 35px
}

.user_table_sy3 td {
    border: 1px solid #d7d7d7;
    line-height: 21px
}

.user_table_sy3 th.tl {
    text-align: left
}

.user_table_sy3 td.tl {
    text-align: left
}

.user_table_sy3 .wline td {
    border-right: 0;
    border-left: none;
    padding: 0;
    height: 10px;
    font-size: 1px;
    line-height: 1px;
    border-top: 0;
    border-bottom: 0
}

.user_table_sy3 .wth td {
    background: #e7e7e7;
    height: 20px;
    line-height: 20px;
    padding: 3px 15px
}

.user_table_sy3 .itempic {
    border: 1px solid #eee;
    float: left;
    margin-right: 10px
}

.zt_title {
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px
}

.jf_list_sy1 li {
    padding: 3px 0;
    background: url(../images/icon/d1.png) no-repeat 0 center;
    padding-left: 10px
}

.up_pic .btn {
    width: 65px;
    height: 27px;
    cursor: pointer
}

.up_pic .picbox .p1 {
    font-weight: normal;
    text-align: center;
    margin-right: 30px
}

.up_pic .picbox .p2 {
    font-weight: normal;
    text-align: center;
    padding-top: 50px
}

.about_title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #c9e1f4;
    padding-bottom: 10px
}

.about_cont {
    line-height: 26px;
    font-size: 14px
}

.menu_about {
    border: 1px solid #c9e1f4
}

.menu_about .cont {
    border-top: 6px solid #eaf3fe;
    padding: 0 8px
}

.menu_about .cont li {
    background: url(../images/icon_all.png) no-repeat -657px -545px;
    padding-left: 34px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px dotted #ccc
}

.menu_about .cont li a {
    color: #666
}

.menu_about .cont li.last {
    border-bottom: 0
}

.menu_about .cont li a:hover {
    color: #F60
}

.menu_about .cont li.hover a {
    font-weight: bold;
    color: #F60
}

.about_news_list li {
    border-bottom: 1px dashed #d5d5d5;
    padding-bottom: 8px;
    margin-bottom: 8px;
    line-height: 24px
}

.about_news_list li .link {
    color: #333;
    font-size: 14px;
    background: url(../images/icon/d1.png) no-repeat 0 center;
    padding-left: 12px
}

.about_news_list li .link:hover {
    color: #f60
}

.about_news_list li .time {
    color: #999
}

.menu_manage {
    padding: 0 8px
}

.menu_manage li .bt {
    background: url(../images/icon_all.png) no-repeat -657px -465px;
    padding-left: 34px;
    font-size: 14px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px dotted #ccc
}

.menu_manage li.icon1 .bt {
    background: url(../images/icon_all.png) no-repeat -657px -505px
}

.menu_manage li.last {
    border-bottom: 0
}

.menu_manage li a:hover {
    color: #F60
}

.menu_manage li.hover a {
    font-weight: bold;
    color: #F60
}

.menu_manage li .s_list {
    line-height: 24px;
    padding: 3px 0 3px 30px
}

.menu_manage li .s_list a {
    background: url(../images/icon/d1.png) no-repeat 0 center;
    padding-left: 12px;
    color: #06c
}

.m_index {
    background: url(../images/admin_bg.png) no-repeat 0 85px;
    padding-left: 10px
}

.m_index .hi_admin {
    height: 110px
}

.m_index .hi_admin .admin_name {
    font-size: 24px;
    color: #333;
    font-family: Tahoma,Geneva,sans-serif,"宋体";
    margin-bottom: 10px
}

.m_index .hi_admin .admin_help {
    font-size: 14px;
    color: #999;
    line-height: 30px
}

.m_tips {
    color: #999;
    line-height: 21px
}

.table_data th,.ulth,.search_box .title {
    background: url(../images/bank_bg_img.png)
}

.table_data {
    width: 100%;
    color: #333
}

.table_data td,.table_data th {
    border: 1px solid #d8d8d8;
    text-align: center
}

.table_data th {
    background-position: 0 -32px;
    height: 32px;
    font-weight: normal
}

.table_data td {
    padding: 8px 5px;
    line-height: 21px
}

.table_data th.tl {
    text-align: left;
    padding-left: 5px
}

.table_data td.tl {
    text-align: left
}

.table_data td.tr {
    text-align: right
}

.table_data .bg td {
    background: #f5f5f5
}

.table_data tr:hover td {
    background: #ebf2fb
}

.table_data .th_bt {
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px
}

.table_data .td_bt {
    border-right: 0;
    width:140px;
}

.table_data .td_bt2 {
    padding-left: 20px
}

.table_data .td_cont {
    border-left: none;
}

.table_data .icon1 {
    position: relative;
    padding-right: 12px
}

.table_data .icon1 em {
    position: absolute;
    right: 0;
    _right: 10px;
    top: 3px;
    width: 0;
    height: 0;
    border-width: 4px 4px;
    border-style: solid;
    border-color: #666 #eee #eee;
    font-size: 0;
    line-height: 0;
    -webkit-transition: -webkit-transform .2s ease-in;
    -webkit-backface-visibility: hidden;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in
}

.table_data .edit {
    color: #499015;
    margin-right: 10px
}

.table_data .del {
    color: #f00
}

.table_data .del em,.table_data .edit em {
    width: 11px;
    height: 11px;
    margin: 3px 5px 0 0;
    float: left;
    *margin: 4px 2px 0 0
}

.table_data .edit em {
    background-position: -57px -143px
}

.table_data .del em {
    background-position: -78px -143px
}

.table_data2 {
    width: 300px
}

.table_data2 th,.table_data2 td {
    border: 1px solid #ccc;
    padding: 6px 5px;
    background: #FFF;
    text-align: center
}

.table_data2 th {
    background: #f5f5f5
}

.op_subbox {
    padding: 15px 15px 15px 15px;
    background: #f5f5f5;
    border: 1px solid #d8d8d8;
    border-top: 0
}

.sr_sy1,.sr_sy2,.sr_sy3,.sr_sy4,.text_sy1 {
    background: #FFF repeat-x
}

.sub_sy1,.sub_sy2 {
    background: url(../images/bank_but.png)
}

.sr_sy1,.sr_sy2,.sr_sy3,.sr_sy4,.text_sy1 {
    padding: 0 5px;
    background-position: 0 0;
    color: #666;
    line-height: 22px;
    border: 1px solid #b5b8c8;
    height: 22px
}

.sr_sy1 {
    width: 110px
}

.sr_sy2 {
    width: 200px
}

.sr_sy3 {
    width: 100px
}

.sr_sy4 {
    width: 30px
}

.sub_sy1 {
    background-position: 0 -69px;
    width: 91px;
    height: 27px;
    border: 0;
    cursor: pointer
}

.sub_sy2 {
    background-position: 0 -103px;
    width: 91px;
    height: 26px;
    display: block;
    text-align: center;
    line-height: 26px
}

.web_news li {
    border-bottom: 1px dashed #d5d5d5;
    padding-bottom: 6px;
    margin-bottom: 6px;
    line-height: 24px
}

.web_news li .bt {
    float: left;
    width: 70px;
    text-align: right
}

.web_news li .nr {
    float: left;
    width: 690px
}

.web_news .reg_btn {
    padding-left: 70px
}

table .del {
    width: 120px;
    z-index: 1000;
    position: absolute;
    border: 1px #ec7c00 solid;
    background-color: #fff3e6;
    display: none;
    padding: 8px 8px 8px 8px;
    text-align: center;
    margin-left: -160px
}

.control-group {
    color: #333;
    margin-bottom: 15px
}

.control-label {
    float: left;
    text-align: right
}

.author {
    overflow: hidden;
    width: 500px
}

.default-label {
    cursor: pointer;
    float: left;
    margin-bottom: 10px;
    width: 100px
}

.checkbox-style {
    vertical-align: -2px;
    margin-right: 8px
}

.hidden {
    display: none
}

